.Container{
 display: flex;
  justify-content: center;
 align-items: center;
 flex-direction: column;
 min-height: 100vh;
}

.InfoTable{
 width: 80vw;
 margin-top: 4vh;
 border-top: 1px solid;
}

ul li{
 margin-top: 6px;
}